<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.quiz.booking.mapper.BookingMapper">
 	<select id="selectBookingList" resultType="com.quiz.booking.domain.Booking">
 		SELECT 
 			`id`
			, `name`
			, `headcount`
			, `date`
			, `phoneNumber`
			, `state`
			, `createdAt`
			, `updatedAt`
		FROM
			`booking` 
 	</select>
 	
 	<!-- 삭제 버튼 -->
 	<delete id="deleteBookingById" parameterType="int">
 		DELETE
 		FROM
 			`booking`
 		WHERE
 			`id` = #{id}
 	</delete>
 	
 	<insert id="insertBooking" parameterType="map">
 		INSERT INTO `booking`
 		(
 			`name`
 			, `date`
 			, `day`
 			, `headcount`
 			, `phoneNumber`
 			, `state` 
 			, `createdAt`
 			, `updatedAt`
 		)
 		VALUES
 		(
 			#{name}
 			, #{date}
 			, #{day}
 			, #{headcount}
 			, #{phoneNumber}
 			, '대기중' <!-- 어떠한 걸 고정하는게 '하드코딩'이라고 한다. -->
 			, NOW()
 			, NOW()
 		)
 	</insert>
 	
 	<select id="getCheckBooking" resultType="com.quiz.booking.mapper.BookingMapper">
 		SELECT
			* 
 		FROM
 			id = #{id}
 		WHERE
 			
 	</select>
 </mapper>
