<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <title>문제 풀이</title>
</head>
<body>
<!--  변수를 나타낼때는 이엘 문법 사용 ${} -->
	<h1>1. 변수</h1>
	<th:block th:with="number1=36, number2=3">
		<h2 th:text="'첫번재 숫자' + ${number1}"></h2>
		<h2 th:text="'두번재 숫자' + ${number2}"></h2>
	<h1>2. 산술연산</h1>
		<h4 th:text="'더하기' + ${number1 + number2}" ></h4>
		<h4 th:text="'빼기' + ${number1 - number2}" ></h4>
		<h4 th:text="|곱하기 ${number1 * number2}|" ></h4>
		<h4 th:text="'나누기' + ${number1 / number2}" ></h4>
	
	<h2>태그 그대로 출력</h2>
		<h3 th:utext="'<h3>안녕하세요</h3>'"></h3>
	<h4>4. if 와 unless</h4>
		<th:block th:with="average=${(number1 + number2) / 2.0}">
			<div th:if="${average >= 10}">
				<h1 th:text="${average}"></h1>
			</div>
		</th:block>
	</th:block>
</body>
</html>