<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <title>삼국시다</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</head>
<body>
	<div class="contanier">
		<table class="table text-center">
			<h1>회원 정보 리스트</h1>
			<!-- static폴더에있는 css,img는 앞에 무조건 절대 경로로 시작 / -->
			<img src="/img/sunny.jpg">
			<thead>
				<tr class="text-bold">
					<th>No</th>
					<th>이름</th>
					<th>생년월일</th>
					<th>전화번호</th>
					<th>국적</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="member, status : ${member}">
					<td th:text="${status.count}">No</td>		
					<td th:text="${member.name}">이름</td>		
					<td>
						<span th:if="${#strings.startsWish(member.phoneNumber, '010')}" th:text="${member.phoneNumber}"></span>
					</td>	
					<td>
						<b th:text="${#strings.arraySplit(member.email, '@')[0]}"></b>@<span th:text="${#strings.arraySplit(member.email, '@')[1]}"></span>
					</td>		
					<td th:text="${#strings.replace(member.nationality, '삼국시대', '삼국-')}">국적</td>		
					<td th:text="${member.introduce}">자기소개</td>
					<td th:text="${temporals.format(member.birth, yyy년 M월 d일)}">생년월일</td>
				</tr>		
			</tbody>
		</table>
	</div>
</body>
</html>