<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <title></title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</head>
<body>
 <div class="container">
		<h1>즐겨찾기 추가</h1>
		
		<div class="form-group">
			<label for="title">제목</label>
			<input type="text" id="name" class="form-control">
		</div>

		<div class="form-group">
			<label for="url">URL 주소</label>
			<input type="text" id="url" class="form-control col-11">
		</div>
		
		<button type="button" id="addBtn" class="btn btn-success btn-block">추가</button>
	</div>
	
	<script>
		$(document).ready(function(){
			$("#joinBtn").on('click', function(){
				let name = $("input[name=name]").val().trim();
				if (name.length < 1){
					alret("제목을 입력하세요");
					return;
				}
				let url = $("input[url=url]").val().trim();
				if (url == ""){
					alret("주소를 입력하세요");
					return;
				}
				$/ajax({
					type:"POST"
					, url:"/lesson06/add-bookmark"
					, data:{"name":name, "url":url}
				
				, success:function(data){
					location.href = "/lesson06/bookmark-list-view"
				}
				,error:function(error){
					alert(error);
				}
				});
			
			});
		});
	</script>
</body>
</html>